doctype html
html
  head
    title Test page

    for cssFile in cssFiles
      link(rel="stylesheet", href=cssFile)

    // Preloaded Data
    script.
      var preloadedData = !{JSON.stringify(data)};
    for jsFile in jsFiles
      script(src=jsFile)
  body
    h1 Test Page
