<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://synthjs.us8.list-manage.com/subscribe/post?u=f8e920cca194c0c921f464fdc&amp;id=5c05f681a4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

<div class="mc-field-group" style="display: inline-block;">
  <label for="mce-EMAIL">Stay up to date on Synth's latest features and news:</label>
  <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="you@fancy-domain.io" style="width: inherit; display: inline-block;">
</div>
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default">
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f8e920cca194c0c921f464fdc_5c05f681a4" tabindex="-1" value=""></div>
</form>
</div>

<!--End mc_embed_signup-->
