mixin barspace
  | &nbsp;|&nbsp;

section
  .jumbotron
    img.logo(src="/images/synth-logo.png")
    p
      | The back-end web framework designed to make
      | (Angular|Ember|Backbone)JS web apps easy to create and manage.
    p
      a(href="/docs") Docs
      +barspace
      a(href="/tutorial") Tutorial
      +barspace
      a(href="/examples") Examples
      +barspace
      a(href="https://github.com/JonAbrams/synth") Source Code
    p.current-status.
      <strong>Current Status (ver. #{synthVersion})</strong>: Not quite yet ready for use in
      production. It's totally ready for you to play around with and
      raise issues on github with though!

.row
  .col-md-4
    h3 Easy API Endpoints
    p Create your JS files and folders with the same structure as your API and export the functions that handle each resource's method. You no longer implement your handlers in one file and declare routes in another.
  .col-md-4
    h3 Service-Injected Handlers
    p Supports services and dependency injection just like AngularJS, but for your API request handlers on the back-end! Specify what each endpoint requires, such as a user object from the db and voila, it's there!
  .col-md-4
    h3 Preload Data With Views
    p No more extra round-trip to the server with your JS apps. Automatically serve up the initial API response along with the HTML for nearly instant rendering.
.row
  .col-md-4
    h3 Promises
    p Write your API request handlers (and services) using promises. Just return a promise and Synth will auto-convert them into JSON and respond to the browser.
  .col-md-4
    h3 Built-in Asset Pipeline
    p Use Jade, EJS, CoffeeScript, SASS, or plain old CSS/HTML/JS. Synth will take care of it all, including (minific|concatin)ation in production.
  .col-md-4
    h3 Simplified Project Layout
    p Synth projects have a clearly defined folder structure so you know which files are used by the back-end and which files are used by the browser.
br
.row
  .col-md-6.col-md-offset-3.col-sm-offset-1
    <iframe width="560" height="315" src="//www.youtube.com/embed/MSH9yB9y4ZA?start=192" frameborder="0" allowfullscreen></iframe>
